html {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #626262;
    font-size: 17px;
    font-weight: 300;
    margin-top: 50px;
}

h1 {
    font-weight: 300;
}

img {
    max-width: 100%;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}