*, *:before, *:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: black(0);
}

body {
    background: #343A3F url('../img/bg-1.jpg') center center/cover no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}

.u-screenReaders {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

main {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 20px 0;
}

img {
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.05);
    margin-bottom: 20px;
    max-width: 100%;
    width: 130px;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

h2 {
    font-size: 16px;
    letter-spacing: 0.9px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px 0 25px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
    transition: all 0.3s;
}

li a {
    text-decoration: none;
}

li:last-child {
    margin-right: 0;
}

a {
    color: white;
}

a:hover {
    opacity: 0.5;
    text-decoration: none;
    transition: all 0.3s;
}

p {
    margin: 20px auto 0;
}

@media (min-width: 768px) {
    body { background-image: url('../img/bg-2.jpg'); }
    img { width: 150px; }
    h1 { font-size: 36px; }
    h2 { margin: 5px 0 25px 0; }
    p { margin: 40px auto 0; }
}

@media (min-width: 1280px) {
    body { background-image: url('../img/bg-3.jpg'); }
    li { margin-right: 15px; }
}

@media (min-width: 1440px) {
    body { background-image: url('../img/bg-4.jpg'); }
}